body{
    font-family: DINPro;  
}
header{
    width: 1216px;
    height: 40px;
    top: 64px;
    position: relative;
    left: 352px;
    display: inline-block;  
}
.header-logo{
    position: static;
}
.button-Startseite{
    position: absolute;
    left: 410px;
    width: 80px;
    height: 40px;
    font-size: 16px; 
    color: #FF9900;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    background-color: white;
}
.button-Leistungen{
    position: absolute;
    border: none;
    background-color: white;
    width: 105px;
    height: 40px;
    left: 523px;
    font-size: 16px;
}
.button-Referenzen{
    position: absolute;
    border: none;
    background-color: white;
    width: 108px;
    height: 40px;
    left: 658px;
    font-size: 16px;
}
.button-Überuns{
    position: absolute;
    left: 795px;
    border: none;
    width: 78px;
    height: 40px;
    background-color: white;
    color: #263640;
    font-size: 16px;
}
.button-Kontakt{
    position: absolute;
    left: 1070px;
    background-color: orange;
    width: 146px;
    height: 40px;
    font-size: 16px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
}
.img-icon{
    position: absolute;
    width: 18px;
    height: 14px;
    left: 115px;
    top: 11px;
}
.block-content{
    display: inline-block;  
    position: relative;
    top: 300px;
    left: 352px;
    width: 470px;
    height: 302px;
}
.block-content_ingenieur{
    display: flex;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
   }
   .block-content_büro{
       font-size: 32px;
       color: #263640;
    }
    .block-content_text{
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        color: #929A9F;
    }
    .button-project{
        width: 209px;
        height: 40px;
        background-color: orange;
        color: white;
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        border: none;
    }
    .block-background{
        position: absolute;
        width: 593px;
        height: 750px;
        left: 623px;
        top: 0px;
        background: #C4C4C4;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F7F8FA;
    }
    .block-img{
        position: absolute;
        top: 0px;
        left: 623px;
        z-index: 500;
    } 
    .block-services{
        display: inline-block;
        position: relative;
        width: 1920px;
        height: 1590px;
        background:#F5F8FA;
        top: 594px;
    }
    .block-services_h{
        position: absolute;
        font-size: 24px;
        left: 352px;
        top: 172px;
        color: #263640;
    }
    .block-services_text{
        position: absolute;
        width: 520px;
        height: 112px;
        left: 352px;
        top: 238px;
        font-size: 16px;
        line-height: 28px;
        color: #929A9F;
    }
    .article{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 312px;
        height: 605px;
        left: 352px;
        top: 430px;
        flex: none;
}
.article-image{
    position: relative;
    width: 393px;
    height: 333px;
    left: -41px;
    top: -41px;
}
.article-h{
position: static;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #263640;
}
.article-text{
position: static;
font-size: 16px;
line-height: 28px;
color: #929A9F;
}
.article-href{
position: static;
font-weight: 500;
font-size: 16px;
color: #FF9900;
}
.article1{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 312px;
    height: 605px;
    left: 804px;
    top: 430px;
    flex: none;
}
.article-image1{
position: relative;
width: 393px;
height: 333px;
left: -41px;
top: -41px;
}
.article-h1{
position: static;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #263640;
}
.article-text1{
position: static;
font-size: 16px;
line-height: 28px;
color: #929A9F;
}
.article-href1{
position: static;
font-weight: 500;
font-size: 16px;
color: #FF9900;
}
.article2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 312px;
    height: 605px;
    left: 1256px;
    top: 430px;
    flex: none;
}
.article-image2{
position: relative;
width: 393px;
height: 333px;
left: -41px;
top: -41px;
}
.article-h2{
position: static;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #263640;
}
.article-text2{
position: static;
font-size: 16px;
line-height: 28px;
color: #929A9F;
}
.article-href2{
position: static;
font-weight: 500;
font-size: 16px;
color: #FF9900;
}
.block-history{
position: relative;
width: 1009px;
height: 584px;
top: 1203px;
left: 352px;
background: #263640;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F5F8FA;
}
.block-history_h{
position: absolute;
left: 98px;
top: 98px;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #929A9F;
}
.block-history_diplom{
position: absolute;
width: 494px;
height: 132px;
left: 98px;
top: 142px;
font-size: 32px;
line-height: 44px;
color: #FFFFFF;
}
.block-history-text{
position: absolute;
width: 422px;
height: 104px;
left: 98px;
top: 298px;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.block-line{
position: absolute;
width: 494px;
height: 0px;
left: 98px;
top: 458px;
opacity: 0.2;
border: 1px solid #FFFFFF;
}
.block-history-img{
position: absolute;
width: 488px;
height: 662px;
left: 768px;
top: 98px;
filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
}
.button-Lesen{
position: absolute;
width: 135px;
height: 28px;
top: 482px;
left: 98px;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
border: none;
background-color:#263640 ;
}
.block-inform{
display: inline-block;
position: relative;
width: 1216px;
height: 489px;
left: 352px;
top: 953px;
}
h1{
position: absolute;
left: 0px;
top: 0px;
color: #263640;
margin: 0;
}
.block-inform-text{
position: absolute;
width: 488px;
height: 84px;
left: 0px;
top: 61px;
font-size: 16px;
line-height: 28px;
color: #929A9F;
}
.block-inform-button{
flex-direction: row;
align-items: center;
padding: 0px 16px;
position: absolute;
width: 153px;
height: 40px;
left: 1063px;
top: 101px;
background: #FF9900;
border: none;
color: white;
}
h3{
position: absolute;
width: 235px;
height: 20px;
left: 0px;
top: 225px;
font-size: 14px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #929A9F;
}
.inform-h{
position: absolute;
width: 361px;
height: 60px;
left: 0px;
top: 277px;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #263640;
}
.block-text-blog{
position: absolute;
width: 361px;
height: 84px;
left: 0px;
top: 357px;
font-size: 16px;
line-height: 28px;
color: #929A9F;
}
.blog-button{
position: absolute;
width: 135px;
height: 28px;
top: 461px;
font-weight: 500;
font-size: 16px;
color: #FF9900;
border: none;
background-color: white;
}
.inform-h1{
    position: absolute;
    width: 361px;
    height: 60px;
    left: 428px;
    top: 277px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263640;
    }
    .block-text-blog1{
    position: absolute;
    width: 361px;
    height: 84px;
    left: 428px;
    top: 357px;
    font-size: 16px;
    line-height: 28px;
    color: #929A9F;
    }
    .blog-button1{
    position: absolute;
    width: 135px;
    height: 28px;
    left: 428px;
    top: 461px;
    font-weight: 500;
    font-size: 16px;
    color: #FF9900;
    border: none;
    background-color: white;
    }
    .inform-h2{
        position: absolute;
        width: 361px;
        height: 60px;
        left: 855px;
        top: 277px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #263640;
        }
        .block-text-blog2{
        position: absolute;
        width: 361px;
        height: 84px;
        left: 855px;
        top: 357px;
        font-size: 16px;
        line-height: 28px;
        color: #929A9F;
        }
        .blog-button2{
        position: absolute;
        width: 135px;
        height: 28px;
        left: 855px;
        top: 461px;
        font-weight: 500;
        font-size: 16px;
        color: #FF9900;
        border: none;
        background-color: white;
        }
    .block-kar{
        display: inline-block;
        position: relative;
        width: 1920px;
        height: 477px;
        left: 0px;
        top: 1265px;
        background: #F5F8FA;
    }
    .block-h3{
position: absolute;
width: 200px;
left: 352px;
top: 101px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #929A9F;
}
    .block-h1{
        position: absolute;
        width: 284px;
        height: 44px;
        left: 352px;
        top: 137px;
        color: #263640;
    }
    .block-text_lorem{
        position: absolute;
        width: 327px;
        height: 84px;
        left: 352px;
        top: 205px;
        font-size: 16px;
        line-height: 28px;
        color: #929A9F;
    }
    .block-button_kar{
        flex-direction: row;
        align-items: center;
        padding: 0px 16px;
        position: absolute;
        width: 135px;
        height: 40px;
        left: 352px;
        top: 321px;
        background: #FF9900;
        border: none;
        color: white;
        
    }
    .block-kar-img{
        position: absolute;
        width: 728px;
        height: 584px;
        left: 840px;
        top: -170px;
        filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
}
footer{
    width: 1920px;
    height: 304px;
    background-color: #263640;
    position: relative;
    display: inline-block; 
    top: 1263px; 
}
.footer-logo{
    position: absolute;
    left: 352px;
    top: 82px;
}
.footer-name{
    position: absolute;
    top: 82px;
    left: 1158px;
    font-size: 14px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: white;
}
.footer-name1{
    position: absolute;
    top: 100px;
    left: 1158px;
    color: white;
    font-size: 16px;
    line-height: 26px;
}
.footer-adress{
    position: absolute;
    top: 82px;
    left: 1459px;
    font-size: 14px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: white; 
}
.footer-adress1{
    position: absolute;
    top: 100px;
    left: 1459px;
    color: white;
    font-size: 16px;
    line-height: 26px;
}
hr{
    position: absolute;
    width: 1216px;
    left: 352px;
    top: 206px;
    opacity: 0.2;
    border: 1px solid white;
}
.Impressum{
    position: absolute;
    top: 246px;
    left: 348px;
    font-size: 14px;
    color: white;
    opacity: 0.5;
 }
 .Datenschutz{
    position: absolute;
    top: 246px;
    left: 443px;
    font-size: 14px;
    color: white;
    opacity: 0.5; 
 }
 .line{
    position: absolute;
    top: 246px;
    left: 427px;
    font-size: 14px;
    color: white;
    opacity: 0.5;  
 }